.sidebar{
    display: flex;
    flex-direction: column;

    width: 240px;
    height: 100vh;
    padding: 16px;
    background-color: #f4f4f4;

    top: 0;
    left: 0;
    position: absolute; /* 레이아웃 흐름에서 제외 */

    transform: translateX(0); /* 기본 위치 */
    transition: transform 0.25s ease; /* 부드러운 애니메이션 */
}

.sidebar.closed{
    transform: translateX(-100%);
}

.sidebar > *{
    height: 40px;
    cursor: pointer;
    padding-left: 6px;
    border-radius: 6px;
    align-content: center;
    transition: background 0.4s ease;
    color: #000;
    text-decoration: none;
}
.sidebar > .active{
    cursor: default;
    background: #adadad;
}

.sidebar > * + *{
    margin-top: 4px;
}

.sidebar > *:hover{
    background: #adadad;
}

/*Sidebar 가 적용된 main container*/
.main-container{
    transform: translateX(0);
    transition: transform 0.25s ease, margin-left 0.25s ease; /* 부드러운 애니메이션 */
}

/* 화면 너비가 1100px 미만일 때 적용할 스타일 */
@media (max-width: 1099px){
    .main-container.expanded{
        transform: translateX(240px); /* 기본 위치 */
    }
}

/* 화면 너비가 1100px 이상일 때 적용할 스타일 */
@media (min-width: 1100px){
    .main-container.expanded{
        margin-left: 240px; /* 기본적으로 사이드바의 너비만큼 여백 */
    }
}