.wol th, .wol td{
    text-align: center !important;
}

.wol-header-button{
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.3em !important;
}
.wol-header-button:hover{
    color: #979797;
}

.wol-power-button{
    padding: 12px;
    border-radius: 50%;
}