.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: env(safe-area-inset-bottom);
}

.main-container {
    flex: 1;
}

.column{
    padding: 0 5px;
}
