.item-container{
    & + &{
        margin-top: 10px;
    }

    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

.item-header{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background: #21252908;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.item-header-button{
    cursor: pointer;
}

.item-content{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.item-container table{
    width: calc(100% - 1.5rem); /* 부모 너비에서 margin만큼 뺌 */
    margin: 0.75rem; /* m-2에 해당하는 Bootstrap margin */
}