.switch-bot{
    width: 100%;
    display: flex;
    align-items: center;

    margin: 0;
    padding: .75em;

    &:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
}

.switch-bot-name{
    color: #000000;
    font-size: 22px;
    font-weight: bold
}

.switch-bot-button-container{
    display: flex;
    align-items: center;
}

.switch-bot-button-container + .switch-bot-button-container{
    margin-top: 6px;
}

.switch-bot-button-name{
    color: #000000;
    font-weight: bold;
    margin-left: auto;
    margin-right: 6px;
}

.switch-bot-button-container > button{
    padding-left: 22px;
    padding-right: 22px;
}